*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-color: black;
    /* padding: 20px; */
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 10px;
}

nav > div >button{
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.1s ease-in-out;
}
nav > div > button:active{

    background-color: black;
    border: 2px solid white;
    color: white;
    font-weight: bold;
}
main {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}

main form{
    border: 2px solid black;
    height: 350px;
    border-radius: 20px;
    background-color: black;
    color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 20px;
}
main form h1{

    margin-bottom: 20px;
    letter-spacing: 1px;
    
}
main form input{

    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 17px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
main form button{

    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color:blanchedalmond;
    color: black;
    cursor: pointer;

}